@media(max-width:732px){
    .menu-resp label {
        display: block;
    }
    .menu{
        position: absolute;
        background: #1b193bb4;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu{
        margin: 0;
    }
    #btn-menu:checked ~ .menu-resp label{
        background-color: #fff;
    }
    .menu li a{
        width: 100%;
    }
}
@media(max-width:475px){
    .header-home .titulo-home{
        font-size: 50px;
    }
    .header-home .subtitulo-home{
        font-size: 25px;
    }
}
@media(max-width:764px){
    .info-home .ordn-map{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ordn-map .mapa{
        width: 100%;
        padding: 10px;
    }
    .cont-texto{
        width: 100%;
        padding: 10px;
    }
}
@media(max-width:380px){
    .contacto-home .titulo-contacto{
        font-size: 40px;
    }
}